@import "mixin";

body {
    font-family: $opensans;
    font-weight: 500;
    background-color: var(--white-color);
}

.wrapper {
    display: grid;
}

.header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: var(--black-color);
    }

    &:first-child {
        column-gap: 50px;
    }

    &:nth-child(3){
        align-self: center;

        & img {
            margin: 0 0 0 10px;
        }
    }
    
    & .nav__btn {
        @include heading-btn-color
    } 
}

li {
    list-style-type: none;
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 50px;
    height: 30px;

    & span {
        height: 4px;
        width: 80%;
        transform: scale(1);
        background-color:var(--color-dark-green);
    }
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--color-dark-green);
    transition: all 0.3s ease 0%;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.content {
    padding: 0 40px 0 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;    
    height: 680px;
    background-color: var(--color-light-green);
    
}

.content__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 500;

    a {
        color: var(--white-color);
        text-decoration: none;
    }

    &:hover {
        @include hover-underLine-dark;
    }
}

.content__list :last-child {
    font-size: 18px;
    font-weight: 600;
    
    &:hover {
        @include hover-button-color;
    }

    >.button__list {
        height: 48px;
        border: none;
    }

}


.conteiner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;


    &__bottom__button {
        position: absolute;
        margin: 33.3rem 0 0 0;
        width: 100%;
        display: flex;

    &:hover {
        @include heading-hover-button-clean;
}

        button {
            @include bg-button-color;
            border: none;
            color: var(--white-color);
            height: 63px;
            width: 100%;

            &__one {
                background-color:var(--color-dark-green);
                }
            }
            
            &__two {
                background-color: var(--color-light-green);
            
                &:hover {
                    @include heading-hover-button-color;
                }
            }
            
            &__three {
                background-color: var(--color-dark-green);
            
                &:hover {
                    @include heading-hover-button-clean;
                }
            }
        
    }
}



.heading {
    padding-top: 55px;
    padding-left: 85px;
    height: 269px;
    width: 416px;
    color: var(--white-color);

    >h1 {
        font-size: 52px;
    }
}

.heading__text {
    font-size: 16px;
    line-height: 150%;
}

.heading__text__button {
    font-weight: 500;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 20px;
    height: 53px;
    width: 167px;
    background-color:var(--color-dark-green);
    color: var(--white-color);
    border: none;

    &:hover {
        background-color: var(--color-light-green);
        border: 2px solid var(--color-dark-green);
    }
}

.heading__image {
    padding-left:   34px;
    width: 746px;
    height: 533px;
}

.button__forward {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: rotate(180.00deg);
    top: 75%;
    left: 570px;
}

.leftarrow {
    padding: 15px 20px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.rightarrow {
    padding: 15px 20px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
}


.button__forward div:hover {
    background-color:var(--color-dark-green);
    transition-duration: 0.45s;
}

.conteinerpage2 {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 80px;

}

.inovation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 526px;
    height: 580px;
    background-color:var(--color-dark-green);
    overflow: hidden;
    position: relative;

}

.inovation h3 {
    padding: 10px;
    background-color: var(--color-light-green);
    color: var(--white-color);
    font-weight: 400;
    margin: 0;
}

.inovation__block {
    width: 135px;
    height: 43px;
    margin: 35px 0 27px 40px;
    text-align: center;
}

.inovation span {
    display: flex;
    color: var(--white-color);
    font-weight: 500;
    font-size: 30px;
    margin: 0 0 110px 40px;
}

.inovation__button {   
    display: flex;
    position: absolute;
    width: 177px;
    height: 40px;
    margin: 0 0 0 40px;
}

.inovation__button__text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--color-dark-green);
    color: var(--white-color);
    height: 40px;
    border: none;
    font-family: $opensans;
    font-size: 16px;

    &:hover {
        @include hover-underLine-light;
    }

    a {
        text-decoration: none;
        color: var(--white-color);
        font-weight: 700;
        margin: 0 0 0 20px;
    }

    :hover:not(a) {
        background-color: var(--color-light-green);
        transition-duration: 0.45s;
    }
}

.inovation__button__img {
    border: 1px solid var(--white-color);
    padding: 20px 15px;
}

.inovation__img img {
    object-fit: cover;
    width: 526px;
    height: 260px;
    transform: translate(0 5px);
}

.beauty {
    width: 636px;
    height: 485px;
    padding-top: 15px;

    & img {
        margin-left: 330px;
    }
}

.beauty h3 {
    background-color: var(--color-light-green);
    color: var(--white-color);
    width: 191px;
    text-align: center;
    padding: 10px;
}

.spisok__chisel {
    position: absolute;
}

.spisok__chisel li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0 12px;
    line-height: 30px;
    opacity: 0.5;
    z-index: 2;
}

.spisok__chisel li:nth-child(3) {
    opacity: 1;
    font-size: 28px;
}

.spisok__chisel li h1{
    font-size: 48px;
    line-height: 10px;
}

.spisok__chisel li h2{
    font-size: 95px;
    color:var(--color-dark-green);
}

.license {
    position: relative;
    padding-left: 50%;
    opacity: 1;
    z-index: -1;
}

.conteiner2__two__body {
    width: 74%;
    padding-left: 1px;
}

.news__content {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-left: -100px;
}

.news__item {
    background-color: var(--color-light-green);
}

.news__item h3 {
    text-align: center;
    margin: 35px 0 0 45px;
    padding: 10px;
    width: 106px;
    background-color:var(--color-dark-green);
    color: var(--white-color);
    font-weight: 400;
}

.news__list__content {
    display: flex;
    justify-content: flex-start;
}

.news__list__item {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    position: relative;
    font-size: 18px;
    line-height: 150%;
    color: var(--white-color);

    &:hover {
        @include hover-button-color;
    }

}

.news__list__item li {
    z-index: 2;
    padding: 20px;
}

.news__recommendation {
    padding-left: 60px;
    background: rgba(0, 134, 138, 0.1);
}

.news__recommendation h1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 35px;
    margin-bottom: 0px;
}

.news__recommendation ul {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: -10px;
    line-height: 150%;

}

.news__recommendation li {
    list-style: url('/assets/Rectangle\ 17.png');
    

}

.offers__content1 {
    height: 563px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 306px);
    grid-template-rows: repeat (4, 1fr);
    justify-content: center;
    gap: 24px;
    margin-top: 100px;
}

.inner__background {
    width: 100%;
    height: 350px;
    position: absolute;
    opacity: 0.2;
    z-index: 1;
    background-color: rgba(0, 134, 138, 0.5);
}

.offers__content1 .relevant {
    position: absolute;
    left: 40%;
    top: 10%;
    color:var(--color-dark-green);
}

.offers__item1,
.offers__item2,
.offers__item3,
.offers__item4 {
    margin-top: 70%;
    height: 343px;
    background-color:var(--color-dark-green);
    z-index: 2;
    position: relative;
    overflow: hidden;


    >h3 {
        width: 158px;
        color: var(--white-color);
        font-size: 18px;
        background-color: var(--color-light-green);
        text-align: center;
        padding: 10px;
        margin: 30px 0 0 30px;
        position: absolute;
    }

    >img {
        width: 306px;
        height: 230px;

        &:hover {
            transform: scale(1.2);
            transition: all .3s ease-in-out; 
        }
    }
}

.offers__item__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--black-color);
    margin: 10px 20px;
    color: var(--white-color);

    h1 {
        display: block;
        font-size: 20px;

    }

    & .special__button {


        & img {
            @include button-arrow;
        }
    }
}

.offers__content2 {
    margin: 95px 0 80px 0;
    height: 392px;
    display: flex; 
    justify-content: center;


    &__inner {
        width: 1296px;
        margin: 0 0%;
        display: grid;
        gap: 30px;
        grid-template-areas: 
        'one tree five seven'
        'too foo six seven';
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        font-size: var(--font-size-list);
        line-height: 250%;

        :first-child{
            margin-bottom: 20px;
            font-size: var(--font-size-heading);
            font-weight: 700;
        }

        li {
            line-height: var(--line-height-list);
        }
    }
}


.inner__servises7 {
    display: flex;
    justify-content: flex-end;

    .servises7__list {
        font-size: var(--font-size-heading);
        font-weight: 700;

        :first-child {
            font-size: var(--font-size-address);
            font-weight: 500;
            opacity: 0.5;
        }
        
        :nth-child(2) {
            a {
                font-size: var(--font-size-heading);
                font-weight: bold;
                text-decoration: none;
                color: var(--black-color);
                opacity: 1;
            }
        }

        :nth-child(3) {
            font-size: var(--font-size-address);
            font-weight: 500;
            opacity: 0.5;
        }

        :nth-child(5) {
            button{
                @include bg-button-color;
            }

            &:hover {
                @include hover-button-clean;
            }
        }
    
        :nth-child(6) {
            font-size: var(--font-size-address);
            font-weight: 500;
            opacity: 0.5;
        }

        :nth-child(8) {
            button{
                @include bg-button-color;
            }

            &:hover {
                @include hover-button-clean;
            }
        }
    }   
}

.servises1 {
    grid-area: one;
}

.servises2 {
    grid-area: too;
}


.servises3 {
    grid-area: tree;
}

.servises4 {
    grid-area: foo;
}

.servises5 {
    grid-area: five;
}

.servises6 {
    grid-area: six;
}

.servises7 {
    grid-area: seven;
}

.offers__content3 {
    grid-area: footer;
}


.footer {
    display: flex;
    justify-content: center;

    &__content{
        height: 90px;
        border: 1px solid var(--footer-border-color);
        margin: 80px 0 0 0;

        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            :nth-child(2){
                text-decoration: underline;
            }

            &__item {
                font-size: 12px;
                font-weight: 400;
                margin: 0 48px 0 0;

            &:first-child {
                    width: 316px;
                    height: 54px;
            }

            &:nth-child(2) a {
                text-decoration: none;
                color: var(--black-color);

            }

            &:nth-child(3) {
                @include heading-btn-color
            }

            }
        }
    }
}




