$opensans: "Open Sans", sans-serif;

:root {
    --color-dark-green: rgb(0, 134, 138);
    --color-light-green: #4FBFA5;
    --white-color: #fff;
    --black-color: #000;
    --font-size-heading: 21px;
    --font-size-list: 14px;
    --font-weight-heading: 700;
    --font-weight-list: 500;

    --font-size-address: 11px;

    --line-height-list: line-height: 250%;
    --row-gap-list: 182px;
    --row-gap-list-and-contact: 125px;

    --footer-border-color: rgb(196, 196, 196);

}